@media only screen and (min-device-width: 675px) {
	.container {
		width: 80%;
		margin: auto;
	}
	.headcontainer {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: auto;
	}
	#menu {
		display: none;
	}
	ul#nav {
		justify-content: space-between;
	}
}

@media (min-device-width: 500px)and (max-device-width: 675px) {
	ul#nav {
		justify-content: space-around;
	}
}
@media only screen and(max-device-width: 675px) {
	#menu {
		display: none;
	}
}
@media only screen and(min-device-width: 900px) {
	.container {
		width: 70%;
	}
}
@media (max-device-width: 500px) {
	ul#nav {
		display: none;
		flex-direction: column;
		align-items: center;
		animation: show 0.5s 1;
	}
	.container {
		width: 100%;
	}
	ul#nav li {
		width: 100%;
		text-align: center;
	}
	ul#nav li>a {
		padding: 10px 0;
		margin: 0;
		width: 100%;
	}
	ul#nav li>a:hover {
		background-color:  #FF4219;
	}
	#menu {
		display: flex;
	}
	.logo {
		display: flex;
		justify-content: space-between;
	}
}